
$color-default: #000;
$color-secondary: #313d4b;
$color-accent: #f5f5f5;
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


body {
  background-color: $color-accent;
}
h1 {
  margin: 0;
  font-family: 'Permanent Marker', Cursive;
  a {
    color: black;
    text-decoration: none;
  }
  &:hover {
    font-family: 'Permanent Marker', Cursive;
  }
}
p, div, span {
  font-family: 'Overpass', Sans-Serif;
}
